<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>$archiver</key>
	<string>NSKeyedArchiver</string>
	<key>$objects</key>
	<array>
		<string>$null</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>8</integer>
			</dict>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>18</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>30</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>42</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>54</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>66</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>17</integer>
			</dict>
			<key>hidName</key>
			<dict>
				<key>CF$UID</key>
				<integer>3</integer>
			</dict>
			<key>mappingAxis</key>
			<dict>
				<key>CF$UID</key>
				<integer>9</integer>
			</dict>
			<key>mappingButtons</key>
			<dict>
				<key>CF$UID</key>
				<integer>4</integer>
			</dict>
		</dict>
		<string>USB Joystick     </string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>8</integer>
			</dict>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>5</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>7</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>6</integer>
			</dict>
			<key>buttonIndex</key>
			<integer>0</integer>
			<key>hidButtonIndex</key>
			<integer>4</integer>
			<key>hidMappingType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>$classes</key>
			<array>
				<string>ConfigButton</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>ConfigButton</string>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>6</integer>
			</dict>
			<key>buttonIndex</key>
			<integer>1</integer>
			<key>hidButtonIndex</key>
			<integer>5</integer>
			<key>hidMappingType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>$classes</key>
			<array>
				<string>NSMutableArray</string>
				<string>NSArray</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>NSMutableArray</string>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>8</integer>
			</dict>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>10</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>12</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>13</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>14</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>15</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>16</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>11</integer>
			</dict>
			<key>axisIndex</key>
			<integer>0</integer>
			<key>hidAxisIndex</key>
			<integer>0</integer>
			<key>hidDeadZoneMax</key>
			<real>0.25</real>
			<key>hidDeadZoneMin</key>
			<real>-0.25</real>
			<key>hidMappingScale</key>
			<integer>500</integer>
			<key>hidMappingType</key>
			<integer>2</integer>
			<key>hidMaxAxisButtonIndex</key>
			<integer>0</integer>
			<key>hidMinAxisButtonIndex</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>$classes</key>
			<array>
				<string>ConfigAxis</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>ConfigAxis</string>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>11</integer>
			</dict>
			<key>axisIndex</key>
			<integer>1</integer>
			<key>hidAxisIndex</key>
			<integer>1</integer>
			<key>hidDeadZoneMax</key>
			<real>0.25</real>
			<key>hidDeadZoneMin</key>
			<real>-0.15000000596046448</real>
			<key>hidMappingScale</key>
			<integer>-500</integer>
			<key>hidMappingType</key>
			<integer>2</integer>
			<key>hidMaxAxisButtonIndex</key>
			<integer>0</integer>
			<key>hidMinAxisButtonIndex</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>11</integer>
			</dict>
			<key>axisIndex</key>
			<integer>2</integer>
			<key>hidAxisIndex</key>
			<integer>0</integer>
			<key>hidDeadZoneMax</key>
			<real>0.0</real>
			<key>hidDeadZoneMin</key>
			<real>0.0</real>
			<key>hidMappingScale</key>
			<integer>100</integer>
			<key>hidMappingType</key>
			<integer>1</integer>
			<key>hidMaxAxisButtonIndex</key>
			<integer>2</integer>
			<key>hidMinAxisButtonIndex</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>11</integer>
			</dict>
			<key>axisIndex</key>
			<integer>2</integer>
			<key>hidAxisIndex</key>
			<integer>0</integer>
			<key>hidDeadZoneMax</key>
			<real>0.0</real>
			<key>hidDeadZoneMin</key>
			<real>0.0</real>
			<key>hidMappingScale</key>
			<integer>500</integer>
			<key>hidMappingType</key>
			<integer>1</integer>
			<key>hidMaxAxisButtonIndex</key>
			<integer>1</integer>
			<key>hidMinAxisButtonIndex</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>11</integer>
			</dict>
			<key>axisIndex</key>
			<integer>3</integer>
			<key>hidAxisIndex</key>
			<integer>2</integer>
			<key>hidDeadZoneMax</key>
			<real>0.15000000596046448</real>
			<key>hidDeadZoneMin</key>
			<real>-0.2800000011920929</real>
			<key>hidMappingScale</key>
			<integer>500</integer>
			<key>hidMappingType</key>
			<integer>2</integer>
			<key>hidMaxAxisButtonIndex</key>
			<integer>0</integer>
			<key>hidMinAxisButtonIndex</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>11</integer>
			</dict>
			<key>axisIndex</key>
			<integer>5</integer>
			<key>hidAxisIndex</key>
			<integer>3</integer>
			<key>hidDeadZoneMax</key>
			<real>0.15000000596046448</real>
			<key>hidDeadZoneMin</key>
			<real>-0.25</real>
			<key>hidMappingScale</key>
			<integer>-500</integer>
			<key>hidMappingType</key>
			<integer>2</integer>
			<key>hidMaxAxisButtonIndex</key>
			<integer>0</integer>
			<key>hidMinAxisButtonIndex</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>$classes</key>
			<array>
				<string>ConfigHIDDevice</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>ConfigHIDDevice</string>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>17</integer>
			</dict>
			<key>hidName</key>
			<dict>
				<key>CF$UID</key>
				<integer>19</integer>
			</dict>
			<key>mappingAxis</key>
			<dict>
				<key>CF$UID</key>
				<integer>23</integer>
			</dict>
			<key>mappingButtons</key>
			<dict>
				<key>CF$UID</key>
				<integer>20</integer>
			</dict>
		</dict>
		<string>WingMan Formula Force GP</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>8</integer>
			</dict>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>21</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>22</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>6</integer>
			</dict>
			<key>buttonIndex</key>
			<integer>0</integer>
			<key>hidButtonIndex</key>
			<integer>4</integer>
			<key>hidMappingType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>6</integer>
			</dict>
			<key>buttonIndex</key>
			<integer>1</integer>
			<key>hidButtonIndex</key>
			<integer>5</integer>
			<key>hidMappingType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>8</integer>
			</dict>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>24</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>25</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>26</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>27</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>28</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>29</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>11</integer>
			</dict>
			<key>axisIndex</key>
			<integer>5</integer>
			<key>hidAxisIndex</key>
			<integer>0</integer>
			<key>hidDeadZoneMax</key>
			<real>0.25</real>
			<key>hidDeadZoneMin</key>
			<real>-0.25</real>
			<key>hidMappingScale</key>
			<integer>-500</integer>
			<key>hidMappingType</key>
			<integer>2</integer>
			<key>hidMaxAxisButtonIndex</key>
			<integer>0</integer>
			<key>hidMinAxisButtonIndex</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>11</integer>
			</dict>
			<key>axisIndex</key>
			<integer>1</integer>
			<key>hidAxisIndex</key>
			<integer>1</integer>
			<key>hidDeadZoneMax</key>
			<real>0.15000000596046448</real>
			<key>hidDeadZoneMin</key>
			<real>-0.15000000596046448</real>
			<key>hidMappingScale</key>
			<integer>-2000</integer>
			<key>hidMappingType</key>
			<integer>2</integer>
			<key>hidMaxAxisButtonIndex</key>
			<integer>0</integer>
			<key>hidMinAxisButtonIndex</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>11</integer>
			</dict>
			<key>axisIndex</key>
			<integer>2</integer>
			<key>hidAxisIndex</key>
			<integer>0</integer>
			<key>hidDeadZoneMax</key>
			<real>0.0</real>
			<key>hidDeadZoneMin</key>
			<real>0.0</real>
			<key>hidMappingScale</key>
			<integer>100</integer>
			<key>hidMappingType</key>
			<integer>0</integer>
			<key>hidMaxAxisButtonIndex</key>
			<integer>0</integer>
			<key>hidMinAxisButtonIndex</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>11</integer>
			</dict>
			<key>axisIndex</key>
			<integer>2</integer>
			<key>hidAxisIndex</key>
			<integer>0</integer>
			<key>hidDeadZoneMax</key>
			<real>0.0</real>
			<key>hidDeadZoneMin</key>
			<real>0.0</real>
			<key>hidMappingScale</key>
			<integer>500</integer>
			<key>hidMappingType</key>
			<integer>1</integer>
			<key>hidMaxAxisButtonIndex</key>
			<integer>3</integer>
			<key>hidMinAxisButtonIndex</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>11</integer>
			</dict>
			<key>axisIndex</key>
			<integer>3</integer>
			<key>hidAxisIndex</key>
			<integer>2</integer>
			<key>hidDeadZoneMax</key>
			<real>0.15000000596046448</real>
			<key>hidDeadZoneMin</key>
			<real>-0.2800000011920929</real>
			<key>hidMappingScale</key>
			<integer>500</integer>
			<key>hidMappingType</key>
			<integer>1</integer>
			<key>hidMaxAxisButtonIndex</key>
			<integer>2</integer>
			<key>hidMinAxisButtonIndex</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>11</integer>
			</dict>
			<key>axisIndex</key>
			<integer>0</integer>
			<key>hidAxisIndex</key>
			<integer>3</integer>
			<key>hidDeadZoneMax</key>
			<real>0.15000000596046448</real>
			<key>hidDeadZoneMin</key>
			<real>-0.25</real>
			<key>hidMappingScale</key>
			<integer>500</integer>
			<key>hidMappingType</key>
			<integer>1</integer>
			<key>hidMaxAxisButtonIndex</key>
			<integer>1</integer>
			<key>hidMinAxisButtonIndex</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>17</integer>
			</dict>
			<key>hidName</key>
			<dict>
				<key>CF$UID</key>
				<integer>31</integer>
			</dict>
			<key>mappingAxis</key>
			<dict>
				<key>CF$UID</key>
				<integer>35</integer>
			</dict>
			<key>mappingButtons</key>
			<dict>
				<key>CF$UID</key>
				<integer>32</integer>
			</dict>
		</dict>
		<string>PLAYSTATION(R)3 Controller</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>8</integer>
			</dict>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>33</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>34</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>6</integer>
			</dict>
			<key>buttonIndex</key>
			<integer>0</integer>
			<key>hidButtonIndex</key>
			<integer>12</integer>
			<key>hidMappingType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>6</integer>
			</dict>
			<key>buttonIndex</key>
			<integer>1</integer>
			<key>hidButtonIndex</key>
			<integer>13</integer>
			<key>hidMappingType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>8</integer>
			</dict>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>36</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>37</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>38</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>39</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>40</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>41</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>11</integer>
			</dict>
			<key>axisIndex</key>
			<integer>0</integer>
			<key>hidAxisIndex</key>
			<integer>0</integer>
			<key>hidDeadZoneMax</key>
			<real>0.25</real>
			<key>hidDeadZoneMin</key>
			<real>-0.25</real>
			<key>hidMappingScale</key>
			<integer>500</integer>
			<key>hidMappingType</key>
			<integer>2</integer>
			<key>hidMaxAxisButtonIndex</key>
			<integer>0</integer>
			<key>hidMinAxisButtonIndex</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>11</integer>
			</dict>
			<key>axisIndex</key>
			<integer>1</integer>
			<key>hidAxisIndex</key>
			<integer>1</integer>
			<key>hidDeadZoneMax</key>
			<real>0.25</real>
			<key>hidDeadZoneMin</key>
			<real>-0.15000000596046448</real>
			<key>hidMappingScale</key>
			<integer>-500</integer>
			<key>hidMappingType</key>
			<integer>2</integer>
			<key>hidMaxAxisButtonIndex</key>
			<integer>0</integer>
			<key>hidMinAxisButtonIndex</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>11</integer>
			</dict>
			<key>axisIndex</key>
			<integer>2</integer>
			<key>hidAxisIndex</key>
			<integer>0</integer>
			<key>hidDeadZoneMax</key>
			<real>0.0</real>
			<key>hidDeadZoneMin</key>
			<real>0.0</real>
			<key>hidMappingScale</key>
			<integer>100</integer>
			<key>hidMappingType</key>
			<integer>1</integer>
			<key>hidMaxAxisButtonIndex</key>
			<integer>10</integer>
			<key>hidMinAxisButtonIndex</key>
			<integer>11</integer>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>11</integer>
			</dict>
			<key>axisIndex</key>
			<integer>2</integer>
			<key>hidAxisIndex</key>
			<integer>0</integer>
			<key>hidDeadZoneMax</key>
			<real>0.0</real>
			<key>hidDeadZoneMin</key>
			<real>0.0</real>
			<key>hidMappingScale</key>
			<integer>500</integer>
			<key>hidMappingType</key>
			<integer>1</integer>
			<key>hidMaxAxisButtonIndex</key>
			<integer>8</integer>
			<key>hidMinAxisButtonIndex</key>
			<integer>9</integer>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>11</integer>
			</dict>
			<key>axisIndex</key>
			<integer>3</integer>
			<key>hidAxisIndex</key>
			<integer>3</integer>
			<key>hidDeadZoneMax</key>
			<real>0.15000000596046448</real>
			<key>hidDeadZoneMin</key>
			<real>-0.2800000011920929</real>
			<key>hidMappingScale</key>
			<integer>500</integer>
			<key>hidMappingType</key>
			<integer>2</integer>
			<key>hidMaxAxisButtonIndex</key>
			<integer>0</integer>
			<key>hidMinAxisButtonIndex</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>11</integer>
			</dict>
			<key>axisIndex</key>
			<integer>5</integer>
			<key>hidAxisIndex</key>
			<integer>2</integer>
			<key>hidDeadZoneMax</key>
			<real>0.15000000596046448</real>
			<key>hidDeadZoneMin</key>
			<real>-0.25</real>
			<key>hidMappingScale</key>
			<integer>-500</integer>
			<key>hidMappingType</key>
			<integer>2</integer>
			<key>hidMaxAxisButtonIndex</key>
			<integer>0</integer>
			<key>hidMinAxisButtonIndex</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>17</integer>
			</dict>
			<key>hidName</key>
			<dict>
				<key>CF$UID</key>
				<integer>43</integer>
			</dict>
			<key>mappingAxis</key>
			<dict>
				<key>CF$UID</key>
				<integer>47</integer>
			</dict>
			<key>mappingButtons</key>
			<dict>
				<key>CF$UID</key>
				<integer>44</integer>
			</dict>
		</dict>
		<string>PS3/PC Adaptor</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>8</integer>
			</dict>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>45</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>46</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>6</integer>
			</dict>
			<key>buttonIndex</key>
			<integer>0</integer>
			<key>hidButtonIndex</key>
			<integer>12</integer>
			<key>hidMappingType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>6</integer>
			</dict>
			<key>buttonIndex</key>
			<integer>1</integer>
			<key>hidButtonIndex</key>
			<integer>13</integer>
			<key>hidMappingType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>8</integer>
			</dict>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>48</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>49</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>50</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>51</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>52</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>53</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>11</integer>
			</dict>
			<key>axisIndex</key>
			<integer>0</integer>
			<key>hidAxisIndex</key>
			<integer>0</integer>
			<key>hidDeadZoneMax</key>
			<real>0.30000001192092896</real>
			<key>hidDeadZoneMin</key>
			<real>-0.30000001192092896</real>
			<key>hidMappingScale</key>
			<integer>400</integer>
			<key>hidMappingType</key>
			<integer>2</integer>
			<key>hidMaxAxisButtonIndex</key>
			<integer>0</integer>
			<key>hidMinAxisButtonIndex</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>11</integer>
			</dict>
			<key>axisIndex</key>
			<integer>1</integer>
			<key>hidAxisIndex</key>
			<integer>1</integer>
			<key>hidDeadZoneMax</key>
			<real>0.5</real>
			<key>hidDeadZoneMin</key>
			<real>-0.5</real>
			<key>hidMappingScale</key>
			<integer>-400</integer>
			<key>hidMappingType</key>
			<integer>2</integer>
			<key>hidMaxAxisButtonIndex</key>
			<integer>0</integer>
			<key>hidMinAxisButtonIndex</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>11</integer>
			</dict>
			<key>axisIndex</key>
			<integer>2</integer>
			<key>hidAxisIndex</key>
			<integer>0</integer>
			<key>hidDeadZoneMax</key>
			<real>0.0</real>
			<key>hidDeadZoneMin</key>
			<real>0.0</real>
			<key>hidMappingScale</key>
			<integer>100</integer>
			<key>hidMappingType</key>
			<integer>1</integer>
			<key>hidMaxAxisButtonIndex</key>
			<integer>2</integer>
			<key>hidMinAxisButtonIndex</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>11</integer>
			</dict>
			<key>axisIndex</key>
			<integer>2</integer>
			<key>hidAxisIndex</key>
			<integer>0</integer>
			<key>hidDeadZoneMax</key>
			<real>0.0</real>
			<key>hidDeadZoneMin</key>
			<real>0.0</real>
			<key>hidMappingScale</key>
			<integer>400</integer>
			<key>hidMappingType</key>
			<integer>1</integer>
			<key>hidMaxAxisButtonIndex</key>
			<integer>1</integer>
			<key>hidMinAxisButtonIndex</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>11</integer>
			</dict>
			<key>axisIndex</key>
			<integer>3</integer>
			<key>hidAxisIndex</key>
			<integer>3</integer>
			<key>hidDeadZoneMax</key>
			<real>0.5</real>
			<key>hidDeadZoneMin</key>
			<real>-0.5</real>
			<key>hidMappingScale</key>
			<integer>400</integer>
			<key>hidMappingType</key>
			<integer>2</integer>
			<key>hidMaxAxisButtonIndex</key>
			<integer>0</integer>
			<key>hidMinAxisButtonIndex</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>11</integer>
			</dict>
			<key>axisIndex</key>
			<integer>5</integer>
			<key>hidAxisIndex</key>
			<integer>2</integer>
			<key>hidDeadZoneMax</key>
			<real>0.5</real>
			<key>hidDeadZoneMin</key>
			<real>-0.5</real>
			<key>hidMappingScale</key>
			<integer>-400</integer>
			<key>hidMappingType</key>
			<integer>2</integer>
			<key>hidMaxAxisButtonIndex</key>
			<integer>0</integer>
			<key>hidMinAxisButtonIndex</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>17</integer>
			</dict>
			<key>hidName</key>
			<dict>
				<key>CF$UID</key>
				<integer>55</integer>
			</dict>
			<key>mappingAxis</key>
			<dict>
				<key>CF$UID</key>
				<integer>59</integer>
			</dict>
			<key>mappingButtons</key>
			<dict>
				<key>CF$UID</key>
				<integer>56</integer>
			</dict>
		</dict>
		<string>Wireless Controller</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>8</integer>
			</dict>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>57</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>58</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>6</integer>
			</dict>
			<key>buttonIndex</key>
			<integer>0</integer>
			<key>hidButtonIndex</key>
			<integer>4</integer>
			<key>hidMappingType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>6</integer>
			</dict>
			<key>buttonIndex</key>
			<integer>1</integer>
			<key>hidButtonIndex</key>
			<integer>5</integer>
			<key>hidMappingType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>8</integer>
			</dict>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>60</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>61</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>62</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>63</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>64</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>65</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>11</integer>
			</dict>
			<key>axisIndex</key>
			<integer>0</integer>
			<key>hidAxisIndex</key>
			<integer>0</integer>
			<key>hidDeadZoneMax</key>
			<real>0.25</real>
			<key>hidDeadZoneMin</key>
			<real>-0.25</real>
			<key>hidMappingScale</key>
			<integer>500</integer>
			<key>hidMappingType</key>
			<integer>2</integer>
			<key>hidMaxAxisButtonIndex</key>
			<integer>0</integer>
			<key>hidMinAxisButtonIndex</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>11</integer>
			</dict>
			<key>axisIndex</key>
			<integer>1</integer>
			<key>hidAxisIndex</key>
			<integer>1</integer>
			<key>hidDeadZoneMax</key>
			<real>0.25</real>
			<key>hidDeadZoneMin</key>
			<real>-0.15000000596046448</real>
			<key>hidMappingScale</key>
			<integer>-500</integer>
			<key>hidMappingType</key>
			<integer>2</integer>
			<key>hidMaxAxisButtonIndex</key>
			<integer>0</integer>
			<key>hidMinAxisButtonIndex</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>11</integer>
			</dict>
			<key>axisIndex</key>
			<integer>2</integer>
			<key>hidAxisIndex</key>
			<integer>0</integer>
			<key>hidDeadZoneMax</key>
			<real>0.0</real>
			<key>hidDeadZoneMin</key>
			<real>0.0</real>
			<key>hidMappingScale</key>
			<integer>100</integer>
			<key>hidMappingType</key>
			<integer>1</integer>
			<key>hidMaxAxisButtonIndex</key>
			<integer>2</integer>
			<key>hidMinAxisButtonIndex</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>11</integer>
			</dict>
			<key>axisIndex</key>
			<integer>2</integer>
			<key>hidAxisIndex</key>
			<integer>0</integer>
			<key>hidDeadZoneMax</key>
			<real>0.0</real>
			<key>hidDeadZoneMin</key>
			<real>0.0</real>
			<key>hidMappingScale</key>
			<integer>400</integer>
			<key>hidMappingType</key>
			<integer>1</integer>
			<key>hidMaxAxisButtonIndex</key>
			<integer>1</integer>
			<key>hidMinAxisButtonIndex</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>11</integer>
			</dict>
			<key>axisIndex</key>
			<integer>3</integer>
			<key>hidAxisIndex</key>
			<integer>5</integer>
			<key>hidDeadZoneMax</key>
			<real>0.15000000596046448</real>
			<key>hidDeadZoneMin</key>
			<real>-0.2800000011920929</real>
			<key>hidMappingScale</key>
			<integer>-1000</integer>
			<key>hidMappingType</key>
			<integer>2</integer>
			<key>hidMaxAxisButtonIndex</key>
			<integer>0</integer>
			<key>hidMinAxisButtonIndex</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>11</integer>
			</dict>
			<key>axisIndex</key>
			<integer>5</integer>
			<key>hidAxisIndex</key>
			<integer>2</integer>
			<key>hidDeadZoneMax</key>
			<real>0.15000000596046448</real>
			<key>hidDeadZoneMin</key>
			<real>-0.25</real>
			<key>hidMappingScale</key>
			<integer>-500</integer>
			<key>hidMappingType</key>
			<integer>2</integer>
			<key>hidMaxAxisButtonIndex</key>
			<integer>0</integer>
			<key>hidMinAxisButtonIndex</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>17</integer>
			</dict>
			<key>hidName</key>
			<dict>
				<key>CF$UID</key>
				<integer>67</integer>
			</dict>
			<key>mappingAxis</key>
			<dict>
				<key>CF$UID</key>
				<integer>71</integer>
			</dict>
			<key>mappingButtons</key>
			<dict>
				<key>CF$UID</key>
				<integer>68</integer>
			</dict>
		</dict>
		<string>DUALSHOCK 4 Wireless Controller</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>8</integer>
			</dict>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>69</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>70</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>6</integer>
			</dict>
			<key>buttonIndex</key>
			<integer>0</integer>
			<key>hidButtonIndex</key>
			<integer>4</integer>
			<key>hidMappingType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>6</integer>
			</dict>
			<key>buttonIndex</key>
			<integer>1</integer>
			<key>hidButtonIndex</key>
			<integer>5</integer>
			<key>hidMappingType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>8</integer>
			</dict>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>72</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>73</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>74</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>75</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>76</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>77</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>78</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>79</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>11</integer>
			</dict>
			<key>axisIndex</key>
			<integer>0</integer>
			<key>hidAxisIndex</key>
			<integer>0</integer>
			<key>hidDeadZoneMax</key>
			<real>0.25</real>
			<key>hidDeadZoneMin</key>
			<real>-0.25</real>
			<key>hidMappingScale</key>
			<integer>400</integer>
			<key>hidMappingType</key>
			<integer>2</integer>
			<key>hidMaxAxisButtonIndex</key>
			<integer>0</integer>
			<key>hidMinAxisButtonIndex</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>11</integer>
			</dict>
			<key>axisIndex</key>
			<integer>1</integer>
			<key>hidAxisIndex</key>
			<integer>1</integer>
			<key>hidDeadZoneMax</key>
			<real>0.25</real>
			<key>hidDeadZoneMin</key>
			<real>-0.25</real>
			<key>hidMappingScale</key>
			<integer>-400</integer>
			<key>hidMappingType</key>
			<integer>2</integer>
			<key>hidMaxAxisButtonIndex</key>
			<integer>0</integer>
			<key>hidMinAxisButtonIndex</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>11</integer>
			</dict>
			<key>axisIndex</key>
			<integer>2</integer>
			<key>hidAxisIndex</key>
			<integer>0</integer>
			<key>hidDeadZoneMax</key>
			<real>0.0</real>
			<key>hidDeadZoneMin</key>
			<real>0.0</real>
			<key>hidMappingScale</key>
			<integer>100</integer>
			<key>hidMappingType</key>
			<integer>1</integer>
			<key>hidMaxAxisButtonIndex</key>
			<integer>1</integer>
			<key>hidMinAxisButtonIndex</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>11</integer>
			</dict>
			<key>axisIndex</key>
			<integer>2</integer>
			<key>hidAxisIndex</key>
			<integer>0</integer>
			<key>hidDeadZoneMax</key>
			<real>0.0</real>
			<key>hidDeadZoneMin</key>
			<real>0.0</real>
			<key>hidMappingScale</key>
			<integer>400</integer>
			<key>hidMappingType</key>
			<integer>1</integer>
			<key>hidMaxAxisButtonIndex</key>
			<integer>2</integer>
			<key>hidMinAxisButtonIndex</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>11</integer>
			</dict>
			<key>axisIndex</key>
			<integer>2</integer>
			<key>hidAxisIndex</key>
			<integer>3</integer>
			<key>hidDeadZoneMax</key>
			<real>0</real>
			<key>hidDeadZoneMin</key>
			<real>0</real>
			<key>hidMappingScale</key>
			<integer>100</integer>
			<key>hidMappingType</key>
			<integer>1</integer>
			<key>hidMaxAxisButtonIndex</key>
			<integer>4</integer>
			<key>hidMinAxisButtonIndex</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>11</integer>
			</dict>
			<key>axisIndex</key>
			<integer>2</integer>
			<key>hidAxisIndex</key>
			<integer>3</integer>
			<key>hidDeadZoneMax</key>
			<real>0</real>
			<key>hidDeadZoneMin</key>
			<real>0</real>
			<key>hidMappingScale</key>
			<integer>400</integer>
			<key>hidMappingType</key>
			<integer>1</integer>
			<key>hidMaxAxisButtonIndex</key>
			<integer>6</integer>
			<key>hidMinAxisButtonIndex</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>11</integer>
			</dict>
			<key>axisIndex</key>
			<integer>3</integer>
			<key>hidAxisIndex</key>
			<integer>5</integer>
			<key>hidDeadZoneMax</key>
			<real>0.25</real>
			<key>hidDeadZoneMin</key>
			<real>-0.25</real>
			<key>hidMappingScale</key>
			<integer>-600</integer>
			<key>hidMappingType</key>
			<integer>2</integer>
			<key>hidMaxAxisButtonIndex</key>
			<integer>0</integer>
			<key>hidMinAxisButtonIndex</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>11</integer>
			</dict>
			<key>axisIndex</key>
			<integer>5</integer>
			<key>hidAxisIndex</key>
			<integer>2</integer>
			<key>hidDeadZoneMax</key>
			<real>0.25</real>
			<key>hidDeadZoneMin</key>
			<real>-0.25</real>
			<key>hidMappingScale</key>
			<integer>-600</integer>
			<key>hidMappingType</key>
			<integer>2</integer>
			<key>hidMaxAxisButtonIndex</key>
			<integer>0</integer>
			<key>hidMinAxisButtonIndex</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>$top</key>
	<dict>
		<key>ConfigArray</key>
		<dict>
			<key>CF$UID</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>$version</key>
	<integer>100000</integer>
</dict>
</plist>
